@import "variables.scss";

@mixin grid-center {
    display: grid;
    place-items: center;
}
  
@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin btn-shadow($input-clr) {
    .mbtn-#{$input-clr} {
        
        filter: drop-shadow(0 0 0 rgba(0,0,0,0));
    }

    .mbtn-#{$input-clr}:hover {
        @if $input-clr == accent {
            filter: drop-shadow(
            (-$shadow-intensity / 2) ($shadow-intensity / 2)
            $shadow-intensity 
            $clr-accent) ;
        }
        @else if $input-clr == extra {
            filter: drop-shadow(
            (-$shadow-intensity / 2) ($shadow-intensity / 2)
            $shadow-intensity 
            $clr-extra) ;
        }
    }
}