
// Colors
$clr-primary: white;
$clr-secondary: black;
$clr-accent: #e50914cb;
$clr-extra: rgb(53, 53, 53);

$banner-img-height: 95vh;

$shadow-intensity: 16px;

$fs-multiplier: .25rem;

$width-multiplier: 6px;
